<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <h1><%= htmlWebpackPlugin.options.header %></h1>
    <h1>Panzoom</h1>
    <section id="panzoom">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        excepturi ullam fuga! Similique excepturi repellendus natus vero magnam
        unde voluptatum labore eum earum consectetur laboriosam optio cupiditate
        modi vitae temporibus ipsa, omnis dolor exercitationem iste eos dolorem.
        Fugiat, quibusdam veniam earum ipsam maxime sequi incidunt reiciendis
        provident amet totam velit distinctio itaque, qui rem explicabo
        dignissimos recusandae quod blanditiis consequatur ut minus quae ipsa.
        Quis asperiores voluptate reiciendis debitis necessitatibus quam,
        possimus eum libero minus. Eligendi officia a perferendis odit quos
        beatae? Dicta nam delectus non ab placeat beatae, ratione perferendis
        error inventore repudiandae similique unde. Illo quo tempora saepe
        eligendi quaerat voluptate nulla nesciunt doloremque possimus, deserunt
        aliquam earum fugit ducimus. Aspernatur officiis ut necessitatibus
        laboriosam! Nemo commodi consequuntur possimus aut, omnis nisi vitae,
        natus quidem earum aperiam animi veniam culpa iste quos veritatis magni
        qui deleniti voluptates! Labore itaque dolore a cum totam aperiam
        commodi in possimus asperiores quae molestias voluptas corporis veniam,
        dolorem dolor impedit beatae? Cupiditate incidunt vel minus veniam quas
        quo ab aliquid dolorum dolores in, eveniet similique quos rem rerum
        possimus laudantium quaerat delectus consequatur quidem quod soluta
        accusantium eum. Voluptatibus vitae praesentium architecto assumenda at,
        quia aliquid, ratione nihil cumque cupiditate qui? Nam dolores quod
        dignissimos non perferendis veritatis perspiciatis odit suscipit impedit
        laborum atque enim quo, similique maxime facere. Beatae at aperiam
        voluptates possimus nesciunt? Laboriosam ad magni repellendus temporibus
        adipisci dignissimos nam, vero et facilis sapiente officia distinctio
        consequuntur dicta quo ipsum hic deserunt quaerat. Sunt explicabo nemo,
        iusto ipsam obcaecati qui labore recusandae reprehenderit sed blanditiis
        reiciendis animi! Repellendus eaque modi debitis rerum vel placeat minus
        quae laudantium, ratione dolore. Cupiditate, vero asperiores? Omnis
        fugiat natus molestiae nobis earum animi numquam error quia sed ducimus
        tempora facilis iure autem eaque dolor aliquam vero voluptatum non velit
        in enim quidem placeat, officia aliquid. Sint a magni aperiam velit eum
        reprehenderit architecto ea quidem culpa non, saepe ipsum ducimus totam.
        Consequuntur accusamus sunt voluptatibus aperiam eum vitae ea,
        dignissimos consectetur consequatur fugit amet voluptatem ipsa dolorem
        voluptate non! Reprehenderit perspiciatis eveniet distinctio debitis
        commodi, dignissimos blanditiis odit expedita facere odio possimus porro
        nisi placeat ut aspernatur! Laboriosam voluptatem accusamus vitae
        deserunt assumenda molestias expedita minus hic quasi maxime quaerat
        libero a quibusdam autem odio ea totam, iure deleniti nemo ratione enim.
        Placeat quos explicabo excepturi omnis eius, esse voluptate vitae
        nesciunt dolorum praesentium, amet reprehenderit illum. Optio quas
        tempora eaque magnam blanditiis.
      </p>
    </section>
    <section>
      <div id="my-flicking" class="flicking-viewport">
        <div class="flicking-camera">
          <div class="panel"><h2>yoooo</h2></div>
          <div class="panel"><h2>biiiitch</h2></div>
          <div class="panel"><h2>eat meee</h2></div>
        </div>
      </div>
    </section>
    <script src="index.js"></script>
  </body>
</html>
